@import 'variables';

.nav-bar__dropdown {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.nav-bar__dropdown-menu {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 5px;
  color: $light-black;
  display: none;
  line-height: 2rem;
  padding: 10px 0;
  position: absolute;
  top: 60px;
  z-index: 2;
}

.nav-bar__dropdown-button {
  display: flex;
  padding: 10px;
}

.nav-bar__profile-picture {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 90%;
}

.nav-bar__dropdown-button:focus ~ .nav-bar__dropdown-menu,
.nav-bar__dropdown-menu:active,
.nav-bar__dropdown-link
{
  display: block;
}

.nav-bar__dropdown-button:hover,
.nav-bar__dropdown-content-list-item:hover {
  background-color: $light-gray;
}

.nav-bar__dropdown-content-list-item {
  display: block;
  height: 2rem;
}

.nav-bar__dropdown-link,
.nav-bar__logout {
  padding: 0 20px;
  text-align: left;
  width: 100%;
}
