@import 'variables';

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  height: 110px;
  margin: 0 12px;
  max-width: 1300px;
}

.nav-bar__user-list {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-bar__user-list-item:hover {
  background-color: $light-gray;
}

.nav-bar__user-list-item {
  height: 100%;
}

.nav-bar__index-link,
.nav-bar__session-link {
  font-size: 17px;
  align-items: center;
  display: flex;
  height: 60px;
  padding: 0 10px;
}

@media only screen
and (min-width: 992px) {
  .nav-bar {
    flex-wrap: nowrap;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .nav-bar__search-bar {
    margin: 10px 0;
    max-width: 400px;
  }

  .nav-bar__user-list,
  .nav-bar__dropdown {
    order: 2;
  }
}
