.nav-bar {
  display: flex;
  flex-wrap: wrap;
  height: 110px;
  margin: 0 12px;
  max-width: 1300px;
}

.nav-bar__user-list {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-bar__search-bar {
  display: flex;
  margin-bottom: 10px;
  order: 1;
  width: 100%;
}

.nav-bar__search-bar-input {
  flex: 1;
  height: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.nav-bar__search-bar-icon {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.nav-bar__search-bar-input,
.nav-bar__search-bar-icon {
  background-color: #f3f3f3;
  padding: 0 16px;
}

.nav-bar__user-list-item:hover {
  background-color: #f3f3f3;
}

.nav-bar__user-list-item {
  height: 100%;
}

.nav-bar__index-link,
.nav-bar__session-link {
  align-items: center;
  display: flex;
  height: 60px;
  padding: 0 10px;
}


@media only screen
and (min-width: 992px) {
  .nav-bar {
    flex-wrap: nowrap;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .nav-bar__search-bar {
    margin: 10px 0;
    max-width: 400px;
  }

  .nav-bar__user-list,
  .nav-bar__dropdown {
    order: 2;
  }
}
