.album-create {
  display: flex;
  width: 100%;
}

.album-create__tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #F7F7F7;
}

.album-create__active-tab {
  flex: 1;
  margin: 1.5rem;
}

.album-create__album-tab {
  display: flex;
}

.album-create__album-tab-art {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.album-create__album-tab-art--file {

}

.album-create__album-tab-art--empty {

}
