@import 'variables';

.track-form {
  display: flex;
  flex-direction: column;
}

.track-form__name {
  height: 3rem;
  border: 1px solid $mid-gray;
  padding: 0 1rem;
  color: $mid-gray2;
  font-weight: 500;
}

.track-form__name::placeholder {
  color: $mid-gray2;
}

.track-form__input-error {
  border: 1px solid $red;
}

.track-form__error {
  font-size: .75rem;
  color: $red;
  height: 2rem;
  display: flex;
  align-items: center;
}

.track-form__track-info {
  align-items: baseline;
  display: flex;
}

.track-form__track-label {
  color: $light-black;
}

.track-form__track-description {
  color: $mid-gray2;
  font-size: .75rem;
}
