@import 'variables';

.user-show__banner {
  height: 100px;
  background: linear-gradient(135deg, #816FF7 0%, #30D4BB 100%);
  position: relative;
}

.user-show__profile-container {
  margin: 20px auto;
  max-width: 1160px;
  height: 150px;
}

.user-show__profile-picture-container {
  max-width: 1160px;
  margin: 0 auto;
}

.user-show__profile-picture-background {
  height: 224px;
  position: absolute;
  top: 60px;
  width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-show__profile-picture {
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.user-show__profile-picture--edit {
  position: absolute;
}

.user-show__profile-container {
  display: flex;
}

.user-show__profile-placeholder {
  width: 240px;
}

.user-show__profile-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .5rem;
}

.user-show__tab-title {
  font-weight: bold;
}

.user-show__profile-picture-input {
  height: 0;
  overflow: hidden;
  width: 0;
}

.user-show__profile-picture-label {
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 1;
  opacity: 0.4;
  background-color: $light-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-show__profile-picture-edit-icon {
  position: absolute;
  color: $white;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-show__profile-picture-label:hover {
  cursor: pointer;
}
.user-show__profile-edit-button-container {
  display: flex;
  justify-content: space-between;
}

.user-show__profile-edit-button {
  border: 1px solid $mid-gray2;
  padding: .25rem .5rem;
  border-radius: 5px;
  font-weight: 600;
  color: $dark-gray;
  display: flex;
  align-items: center;
}

.user-show__profile-edit-save-button {
  flex: 1;
  font-weight: 600;
  padding: .25rem .5rem;
  background-color: $blue;
  border-radius: 5px;
  color: $white;
}

.user-show__profile-edit-cancel-button {
  flex: 1;
  font-weight: 600;
  color: $blue;
}

.user-show__profile-edit-cancel-button:hover {
  color: $blue;
  text-decoration: underline;
}

.user-show__profile {
  min-width: 240px;
}

.user-show__profile-pic-edit-errors {
  color: $red;
  font-size: .75rem;
  padding-top: 6px;
  width: 100%;
  text-align: center;
}

.user-show__profile-edit-avatar-error {
  margin: 1rem 0;
}
