.user-show {
  width: 100%;
}

.user-show__collection-container {
  margin: 0 auto;
  max-width: 1160px;
}

.user-show__tabs-header-list {
  display: flex;
  border-bottom: 1px solid #DDDDDD;
}

.user-show__tabs-header-list-item--active {
  color: black;
  border-bottom: 2px solid black;
}

.user-show__tabs-header-button--inactive {
  color: #00A1C6;
}

.user-show__tabs-header-list-item--inactive:hover {
  border-bottom: 2px solid #00A1C6;
}

.user-show__tab-content{
  margin-bottom: 10vh;
}

.user-show__tabs-header-button {
  padding: 10px 20px;
}
