@import 'variables';

.user-show__banner {
  height: 100px;
  background: linear-gradient(135deg, #816FF7 0%, #30D4BB 100%);
  position: relative;
}

.user-show__profile-container {
  margin: 20px auto;
  max-width: 1160px;
  height: 150px;
}

.user-show__profile-picture-container {
  max-width: 1160px;
  margin: 0 auto;
}

.user-show__profile-picture-background {
  height: 200px;
  position: absolute;
  top: 60px;
  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-show__profile-picture {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.user-show__profile-container {
  display: flex;
}

.user-show__profile-placeholder {
  width: 240px;
}

.user-show__profile-span {
  font-size: 1.5em;
  font-weight: bold;
}

.user-show__tab-title {
  font-weight: bold;
}
