@import 'variables';

.user-show {
  width: 100%;
}

.user-show__collection-container {
  margin: 0 auto;
  max-width: 1160px;
}

.user-show__tabs-header-list {
  display: flex;
  border-bottom: 1px solid $mid-gray;
}

.user-show__tabs-header-list-item--active {
  color: $light-black;
  border-bottom: 2px solid $light-black;
}

.user-show__tabs-header-button--inactive {
  color: $blue;
}

.user-show__tabs-header-list-item--inactive:hover {
  border-bottom: 2px solid $blue;
}

.user-show__tab-content{
  margin-bottom: 10vh;
}

.user-show__tabs-header-button {
  padding: 10px 20px;
}
