@import 'variables';

.albums-index__carousel {
  background-color: #222222;
  justify-content: center;
  width: 100%;
}

.albums-index__carousel-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  overflow: hidden;
}

.albums-index__carousel-main-img-container,
.albums-index__carousel-sub-img-container {
  border: 2px solid #222222;
}

.albums-index__carousel-main-img-container {
  border-bottom: none;
}

.albums-index__carousel-sub-img-container:not(:last-child) {
  border-bottom: none;
}

.albums-index__carousel-main-img-container:hover,
.albums-index__carousel-sub-img-container:hover {
  filter: brightness(1.25);
  transition: opacity 0.1s ease-out;
}

.albums-index__carousel-sub {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.albums-index__carousel-main-img {
  filter: sepia(0.4);
}

.albums-index__carousel-main-img,
.albums-index__carousel-sub-img {
  display: flex;
  width: 100%;
}

.albums-index__carousel-link {
  width: 100%;
  position: relative;
  display: inline-block;
}

.albums-index__carousel-main-description,
.albums-index__carousel-sub-description {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 2rem;
  margin: 3rem;
  font-weight: bold;
  text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black;
}

.albums-index__carousel-main-description-secondary,
.albums-index__carousel-sub-description-secondary {
  font-size: 1.5rem;
}

@media only screen
and (min-width: 992px) {
  .albums-index__carousel {
    display: flex;
  }

  .albums-index__carousel-container {
    flex-wrap: nowrap;
  }

  .albums-index__carousel-main {
    flex: 3;
  }

  .albums-index__carousel-sub {
    flex: 1;
  }

  .albums-index__carousel-sub-img-container {
    flex: 1;
  }

  .albums-index__carousel-link,
  .albums-index__carousel-sub-img {
    display: flex;
    height: 100%;
  }

  .albums-index__carousel-main-img-container,
  .albums-index__carousel-sub-img-container {
    border: none;
  }

  .albums-index__carousel-main-img-container {
    border-right: 2px solid #222222;
  }

  .albums-index__carousel-sub-img-container:not(:last-child) {
    border-bottom: 2px solid #222222;
  }

  .albums-index__carousel-sub-description {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 1rem;
    margin: 1rem;
    font-weight: 900;
  }

  .albums-index__carousel-sub-description-secondary {
    font-size: 1rem;
    font-weight: 500;
  }

}
