@import 'variables';

.album-show__track {
  display: flex;
  font-size: .75rem;
  margin: .5rem 0;
}

.album-show__track-name {
  margin: 0 .5rem 0 .25rem;
}

.album-show__track-play-button {
  background-color: $white;
  border: 1px solid $mid-gray;
  border-radius: 2px;
  font-size: .5rem;
  height: 1.25rem;
  margin-right: .75rem;
  width: 1.25rem;
}
