.album-show {
  width: 100%;

  // background-color: rgb(245, 235, 209);
}

.album-show__container {
  margin: 0 auto;
  max-width: 1070px;

  background-color: rgb(177, 144, 62);
}

.album-show__main-container {
  max-width: 1020px;
  margin: 0 auto;
}

.album-show__banner {
  height: 140px;
  margin: 0 auto;

  background-color: green;
}

.album-show__tabs-header-list {
  display: flex;
  background-color: rgb(211, 209, 209);
}

.album-show__tabs-header-list-item {
  border: 2px solid transparent;
  flex: 1;
  margin: 0 5px;
  text-align: center;
}

.album-show__tabs-header-button {
  padding: 4px 16px;
}

.album-show__tabs-header-list-item--active {
  color: black;
  border-top: 2px solid black;
}

.album-show__tabs-header-button--inactive {
  color: #00A1C6;
}

.album-show__tabs-header-list-item--inactive:hover {
  border-top: 2px solid #00A1C6;
}


.album-show__tab-title {
  font-weight: bold;
}

.album-show__tab-content {
  margin: 30px 40px;
}

.placeholder {
  z-index: -999;
  // height: 100vh;
  width: 100%;
  position: absolute;
  // display: flex;
  background-image: url(/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWDA9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7799439…/the_strokes-is_this_it.jpg);
  filter: blur(20px);
}

@media only screen
and (min-width: 992px) {
  .album-show__tabs-header-list {
    padding: 0 20px;
  }

  .album-show__tabs-header-list-item {
    flex: 0;

    text-align: left;
  }
}
