@import 'variables';

.album-player__art {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.album-player__title {
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}

.album-player__artist {
  font-weight: 500;
  color: $blue;
}

.album-player__artist:hover {
  color: $blue;
  text-decoration: underline;
}

.album-player__artist {
  font-weight: bold;
  text-align: center;
}

.album-player__artist-name {
  margin-bottom: .5rem;
}

.album-player__metadata-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.album-player__artist-pic {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen
and (min-width: 992px) {
  .album-player__art-container {
    flex: 2;
    order: 1;
    margin: 0 2rem;
  }

  .album-player__sidebar {
    flex: 1;
    order: 2;
    max-width: 16rem;
  }

  .album-player {
    align-items: flex-start;
    flex-direction: row;
  }

  .album-player__metadata {
    display: flex;
    flex: 2;
    flex-direction: column;
  }

  .album-player__metadata-container {
    display: block;
    margin: 0 0 1rem 0;
  }

  .album-player__title {
    font-size: 1.5rem;
  }

  .album-player__title-nbsp {
    display: none;
  }

  .album-player__artist-name {
    text-align: initial;
  }

  .album-player__art {
    width: 350px;
    height: 350px;
  }
}
