@import 'variables';

.album-update__options {
  color: $dark-gray;
  font-size: .75rem;
  margin: 0 1.5rem 0 1rem;
}

.album-update__options-tabs-title {
  font-size: .75rem;
  color: $dark-gray;
  font-weight: bold;
  margin: 1rem 0 1rem 1rem;
}

.album-update__options-add-track {
  align-items: baseline;
  display: flex;
  margin: 1rem 0;
}

.album-update__options-add-track-description {
  margin-left: 1rem;
}

.album-update__options-add-track-input {
  height: 0;
  overflow: hidden;
  width: 0;
}

.album-update__options-add-track-label {
  color: $blue;
  font-size: 1.5rem;
}

.album-update__options-add-track-label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.album-update__options-publish-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.album-update__options-publish {
  border: 1px solid #51924c;
  width: 100px;
  height: 2rem;
  background-color: #0EC200;
  color: white;
  font-weight: bold;
}

.album-update__options-delete:hover {
  text-decoration: underline;
}

.album-update__options-delete {
  border: 1px solid $red;
  width: 100px;
  height: 2rem;
  background-color: #df392e;
  color: white;
  font-weight: bold;
}

.album-update__options-publish:hover {
  text-decoration: underline;
}

.album-update__options-cancel {
  margin-left: 1rem;
  color: $blue;
}

.album-update__options-cancel:hover {
  color: $blue;
  text-decoration: underline;
}

.album-update__options-right-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
