@import 'variables';

.album-update__album-tab {
  display: flex;
  padding: .5rem 1.5rem .5rem .5rem;
  border: 1px solid $mid-gray;
  border-left: none;
  border-right: none;
}

.album-update__album-tab--error {
  border-left: 1px solid $red;
}

.album-update__album-tab--no-error {
  border-left: 1px solid $blue;
}

.album-update__album-tab-art {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  object-fit: cover;
}

.album-update__album-tab-art--file {
  border: 1px solid $mid-gray;
}

.album-update__album-tab-art--empty {
  border: 1px dashed $mid-gray;
}

.album-update__album-tab-description {
  color: $light-black;
  font-size: .75rem;
  text-align: left;
}

.album-update__album-tab-name {
  font-size: 1.25rem;
}

.album-update__album-tab-band {
  display: flex;
}

.album-update__album-tab-band-name {
  font-weight: bold;
}

.album-update__album-tab-date {
  color: $mid-gray2;
}

