@import 'base';

.footer {
  align-items: center;
  background-color: #477987;
  display: flex;
  font-size: $ms-2;
  height: 10vh;
  justify-content: center;
}

.footer__link {
  color: #fff;
}

// sticky footer

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

// @media only screen and (min-width: 768px) {
//   .footer {
//     font-size: 1rem;
//   }
// }

@media only screen and (min-width: 992px) {
  .footer {
    // font-size: $ms3;
    // height: 20vh;
  }
}
