@import 'base';

.footer {
  align-items: center;
  background-color: #477987;
  display: flex;
  font-size: $ms-2;
  height: 10vh;
  justify-content: center;
  min-height: 60px;
}

.footer__link {
  color: #fff;
}

// sticky footer

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
}
