.albums-list {
  display: flex;
  flex-wrap: wrap;
}

.albums-list-item {
  display: flex;
  flex: 100%;
}

.album-container {
  margin: 0 auto;
  width: 300px;
}

.album-art-placeholder {
  background-color: gray;
  border: 1px solid #F2F2F2;
  height: 300px;
  width: 300px
}

.album-info-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.album-name {
  font-weight: bold;
}











@media only screen
and (min-width: 576px) {
  .albums-list-item {
    flex: 50%;
  }
}

@media only screen
and (min-width: 768px) {
  .albums-list-item {
    flex: 33.33%;
  }
}

@media only screen
and (min-width: 992px) {
  .albums-list-item {
    flex: 25%;
  }
}

@media only screen
and (min-width: 1200px) {
}
