.main-container {
  background-color: #EEF2F3;
  display: flex;
  justify-content: center;
  width: 100%;
}

.albums-list {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  max-width: 220px;
  padding: 5px 0;
  text-align: center;
}

.albums-list-item {
  margin: 10px;
}

.album-container {
  margin: 0 auto;
  width: 200px;
}

.album-art-placeholder {
  background-color: gray;
  border: 1px solid #F2F2F2;
  height: 200px;
  width: 200px
}

.album-info-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.album-name {
  font-weight: bold;
}

@media only screen
and (min-width: 576px) {
  .albums-list {
    max-width: 440px;
  }
}

@media only screen
and (min-width: 768px) {
  .albums-list {
    max-width: 660px;
  }
}

@media only screen
and (min-width: 992px) {
  .albums-list {
    max-width: 880px;
  }
}

@media only screen
and (min-width: 1200px) {
  .albums-list {
    max-width: 1100px;
  }
}
