// frontend/components/header/header.jsx

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 5.3rem;
  padding: 0 1.6rem;
  color: #000000;
  // max-width: 136rem;
}

.nav-bar__list-left {
  display: flex;
}

.nav-bar__list-left-item {
  margin: 1rem 0;
  padding: 0 1.9rem 0 0;
}

.nav-bar__search-bar {
  background-color: #F3F3F3;
  width: 28rem;
  height: 1.7rem;
  padding: 1rem 3rem;
}

.nav-bar__list-right {
  display: flex;
  font-size: 1.4rem;
}

.nav-bar__list-right-item > a {
  padding: 0 1.5rem;
}

.nav-bar__dropdown-content {
  display: none;
  position: absolute;
}

.nav-bar__dropdown:hover > .nav-bar__dropdown-content {
  display: block;
}
