@import 'base';

.session-form__other-sessions,
.session-form__header,
.session-form__form-container {
  margin: 0 auto;
  max-width: 300px;
}

.session-form
{
  background-color: #F3F3F3;
  color: #333;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.session-form__header {
  align-items: center;
  display: flex;
  font-size: $ms1;
  justify-content: center;
  margin-top: 50px;
}

.session-form__header-divider {
  border: 2px dotted #ccc;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 700px;
}

.session-form--left,
.session-form--right {
  text-align: center;
}

.session-form__item {
  display: flex;
  flex-direction: column;
}

.session-form__input {
  border: 1px solid #ccc;
  padding: 0 1em;
}

.session-form__input--error {
  border: 1px solid #c43329;
}

.session-form__errors {
  color: #c43329;
  font-size: $ms-2;
  text-align: center;
  height: $ms6;
}

.session-form--box {
  height: $ms9;
}

.session-form__button {
  background-color: #00A1C6;
  border: none;
  color: #fff;
  font-weight: bold;
  outline: inherit;
}

.session-form__button {
  margin: $ms-6 0;
}

.session-form__button--demo {
  margin-bottom: $ms6;
}

.session-form__other-sessions-span {
  color: #818285;
  font-size: $ms-3;
}

.session-form__other-sessions-link {
  color: #00A1C6;
}

.session-form__last {
  margin-bottom: $ms16;
}

@media only screen
and (min-width: 992px) {
  .session-form__header,
  .session-form__form-container,
  .session-form__other-sessions {
    max-width: 450px;
    position: relative;
    right: 70px;
  }

  .session-form__header-divider {
    max-width: 700px;
  }

  .session-form__label {
    margin-right: 1rem;
  }

  .session-form__item {
    flex-direction: row;
  }

  .session-form--left {
    flex: 1;
    line-height: $ms9;
    text-align: right;
    white-space: nowrap;
  }

  .session-form--right {
    flex: 2;
  }

  .session-form__input,
  .session-form__errors {
    text-align: left;
  }
}
