// frontend/components/session_form/login_form.jsx
.login-form-container {
  text-align: center;
  background-color: #F3F3F3;
}

.login-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.login-form__header { grid-area: 1 / 2 / 2 / 3; }
.login-form__username-label { grid-area: 2 / 2 / 3 / 3; }
.login-form__password-label { grid-area: 3 / 2 / 4 / 3; }
.login-form__button { grid-area: 4 / 2 / 5 / 3; }


// frontend/components/session_form/signup_form.jsx

.signup-form-container {
  text-align: center;
  background-color: #F3F3F3;
}

.signup-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.signup-form__header { grid-area: 1 / 2 / 2 / 3; }
.signup-form__email-label { grid-area: 2 / 2 / 3 / 3; }
.signup-form__password-label { grid-area: 3 / 2 / 4 / 3; }
.signup-form__username-label { grid-area: 4 / 2 / 5 / 3; }
.signup-form__button { grid-area: 5 / 2 / 6 / 3; }

// frontend/components/session_form/session_form_helper.jsx

.demo-form-nav__button--link {
  font-size: 1rem;
  border: none;
  background: none;
  outline: inherit;
  cursor: pointer;
}
