// frontend/components/session_form/login_form.jsx
// frontend/components/session_form/signup_form.jsx

.session-form-container {
  background-color: #F3F3F3;
  border: 1px dotted rgb(70, 36, 36);
}

.session-form__inner-container {
  margin: 0 auto;
  text-align: center;
  width: 50rem;
  position: relative;

  border: 1px dotted rgb(70, 36, 36);
}

.session-form {
  display: inline-block;
  border: 1px dotted rgb(70, 36, 36);
}


.session-form__username-title {
  position: absolute;
}


.session-form__password-title {
  position: absolute;
}

.session-form__email-title {
  position: absolute;
}

.session-form__button {
  width: 100%;
}

.signup-form-nav, .login-form-nav {
  text-align: center;
}

// frontend/components/session_form/session_form_helper.jsx

.demo-form-nav__button--link {
  font-size: 1rem;
  border: none;
  background: none;
  outline: inherit;
  cursor: pointer;
}
