.nav-bar__search-bar {
  display: flex;
  margin-bottom: 10px;
  order: 1;
  position: relative;
  width: 100%;
}

.nav-bar__search-bar-input {
  flex: 1;
  height: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
}

.nav-bar__search-bar-icon {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.nav-bar__search-bar-input,
.nav-bar__search-bar-icon {
  background-color: #f3f3f3;
  padding: 0 1rem;
}

.nav-bar__search-bar-results {
  background-color: violet;
  border: 1px solid black;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1;
}
