@import 'variables';

.nav-bar__search-bar {
  display: flex;
  margin-bottom: 10px;
  order: 1;
  position: relative;
  width: 100%;
}

.nav-bar__search-bar-input {
  flex: 1;
  height: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
}

.nav-bar__search-bar-icon {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.nav-bar__search-bar-input,
.nav-bar__search-bar-icon {
  background-color: $light-gray;
  padding: 0 1rem;
}

.nav-bar__search-bar-results-list {
  background-color: $white;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 2;
}

.nav-bar__search-bar-results-list-item {
  display: flex;
  padding: .25rem;
}

.nav-bar__search-bar-results-list-item:hover {
  background-color: $light-gray;
}

.nav-bar__search-bar-results-album-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.nav-bar__search-bar-results-data-list {
  font-size: .75rem;
  margin-left: .5rem;
  overflow: hidden;
  white-space: nowrap;
}

.nav-bar__search-bar-results-data-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-bar__search-bar-results-list-item--bold {
  font-weight: 700;
}
